<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<h1>商品管理システム</h1>

<br>

<div class="container">

    <!-- 入力フォーム -->
    <div class="form-container">

        <!-- 追加フォーム -->
        <div><b>追加</b></div>
        <br>
        <form method="post" action="/product/insert">
            <table>
                <tr>
                    <td><label class="label" for="insertName">名前:</label></td>
                    <td><input type="text" id="insertName" name="insertName" required></td>
                </tr>
                <tr>
                    <td><label for="insertPrice">価格:</label></td>
                    <td><input type="number" id="insertPrice" name="insertPrice" required></td>
                </tr>
            </table>
            <br>
            <div>
                <button type="submit">追加</button>
            </div>
        </form>

        <br>
        <hr>
        <br>

        <!-- 更新フォーム -->
        <div><b>更新</b></div>
        <br>
        <form method="post" action="/product/update">
            <table>
                <tr>
                    <td><label for="updateId">ID:</label></td>
                    <td><input type="text" id="updateId" name="updateId" required></td>
                </tr>
                <tr>
                    <td><label for="updateName">名前:</label></td>
                    <td><input type="text" id="updateName" name="updateName" required></td>
                </tr>
                <tr>
                    <td><label for="updatePrice">価格:</label></td>
                    <td><input type="number" id="updatePrice" name="updatePrice" required></td>
                </tr>
            </table>
            <br>
            <div>
                <button type="submit">更新</button>
            </div>
        </form>

        <br>
        <hr>
        <br>

        <!-- 削除フォーム -->
        <div><b>削除</b></div>
        <br>
        <form method="post" action="/product/delete">
            <table>
                <tr>
                    <td><label for="deleteId">ID:</label></td>
                    <td><input type="text" id="deleteId" name="deleteId" required></td>
                </tr>
            </table>
            <br>
            <div>
                <button type="submit">削除</button>
            </div>
        </form>

    </div>


    <!-- 商品一覧テーブル -->
    <div class="table-container">
        <div><b>商品一覧</b></div>
        <br>
        <table>
            <tr class="tr">
                <th>ID</th>
                <th>名前</th>
                <th>価格</th>
            </tr>
            <tr class="tr" th:each="product : ${productList}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
            </tr>
        </table>
    </div>


</div>

</body>
</html>